
* {
			margin: 0;
			padding: 0;
		}
		html {
			height: 100%;
		}
		body {
			background-image: url("http://static-games.isoftbet.com/games/dev/custom_assets/isbmvc_forest_mania_custom_background_1_r24a690ba46ba40bdbf66d82ff002e061.jpg");
			background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
		}s/dev/custom_assets/isbmvc_forest_mania_custom_background_1_r2
		.score {
			font-family: verdana;
			font-size: 2em;
			position: relative;
			color: #fff;
		}